html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  line-height: 1.3;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

article {
  /* font-size: .99rem; */
  font-style: normal;
  font-weight: normal;
  margin: 1.3em 0;
  padding: 0 1rem;
}

article header {
  margin: 0;
}

article h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

article header p {
  padding: 0 0 1.3em;
  border-bottom: 1px solid #555;
  font-style: italic;
}

article p {
  margin: 0 0 1.3em;
}

.quote {
  color: #999;
}

blockquote {
  font-size: 1.125rem;
  color: #555;
}

article ol {
  padding-left: 1em;
  margin: 0 0 1.3em;
}

article ol + p {
  border-bottom: 1px solid #555;
  padding: 0 0 1.3em;
}
